* {
  margin: 0;
  padding: 0;
}

input {
  display: block;
}

.record {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
  gap: 50px;
}

.addition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookList {
  width: 75%;
  border: 2px solid black;
}

.bookList li {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.bookList li:nth-child(odd) {
  background-color: lightgray;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  width: 24%;
  align-self: end;
}

.form {
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

hr {
  width: 15%;
}

.title {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
  border: 2px solid black;
  padding: 15px 20px;
}

ul li {
  list-style: none;
}

li {
  border-right: 1.5px solid black;
  padding-right: 10px;
  line-height: 2;
}

li:last-child {
  border-right: none; 
}

a {
  text-decoration: none;
}
.navbarItems {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.contactInner {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
